<header class="header message">
    <div class="profile-main-sm">
        <img src="~/img/user.png" alt="">

        <div class="profile-text">
            <h3>Comunidade</h3>
            <p>4 membros</p>
        </div>
    </div>

    <div class="text-center">
        <h2>Chat</h2>
    </div>

    <div class="profile-status-sm">
        <h4>criado: 24 jun 2023</h4>
    </div> 
</header>

<article>
    <div class="chat">
        <div class="profile-main-chat">
        <img src="~/img/user.png" alt="">
            <div class="chat-content">
                <div class="profile-text-chat">
                    <p>Flavio Martins</p>
                    <p>jun 22 at 11:18</p>
                </div>

                <h4>oi tudo bem</h4>
            </div>
        </div>
    </div>

    <div class="chat-send">
        <input type="text" placeholder="Mensagem">
        <button>Enviar</button>
    </div>   
</article>
